<h1><%= @blogger.name %></h1>
<p>Bio:<%= @blogger.bio %></p>
<p>Age:<%= @blogger.age %></p>


<p>Total Likes:
    <%= @blogger.posts.map {|post| post.likes}.sum%>
</p>

link to post with most likes*******